/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* general */
html {
    background-color:#E8E7FF;
    text-align: center;
    font-family: Geist, sans-serif;
}

/* typography */
p {
    font-weight: 500;
    font-size: .625rem;
    color: #262626;
}

body p {
    margin-top: 50px;
    font-size: 16px;
}

a {
    color: #0400FF;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* canvas */
#canvas {
    display: block;
    width: 45%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
  #canvas {
    width: 80%;
  }
}

